.popup__input {
    margin: 30px 22px 0 22px;
    width: 238px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);  
    font-size: 14px;
    line-height: 17px;
    padding: 0;
}

@media (min-width: 890px) {
    .popup__input {
        width: 358px;
        margin: 30px 36px 0 36px;
    }
}