.header {
    width: 100%;
    min-height: 55px;
    border-bottom: 1px solid #545454;
}

@media (min-width: 890px) {
    .header {
        width: 880px;
        min-height: 74px;
        margin: auto;
    }
}